<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%highlight(%-5p)] [%t] [%yellow(%-40.40c) %4L]-%m%n</pattern>
        </encoder>
    </appender>

    <!-- *********** LOGGERS ********************************************** -->
    <!-- Možné úrovňe logování v logback jsou: ERROR,WARN,INFO,DEBUG a TRACE -->
    <root level="WARN">
        <appender-ref ref="Console" />
    </root>

    <logger name="org.xdef.transform.xsd" level="WARN" additivity="false">
        <appender-ref ref="Console" />
    </logger>

    <logger name="test" level="WARN" additivity="false">
        <appender-ref ref="Console" />
    </logger>

</configuration>