#obecne
*~
*.log
*.tmp
*.class
*.exe
*.pyc
*.pyo
*.o
log

#temporary
\#*\#
.\#*
*.rej
*.~*
*~

#packages - it's better to unpack these files and commit the raw source git has its own built in compression methods
*.zip
*.gz
*.7z
*.dmg
*.iso
*.rar
*.tar

#maven
.flattened-pom.xml
target/

#IDE
.idea/
.wtpmodules/
*.ipr
*.iws
*.iml
overlays/
nbproject/
nbactions.xml
.classpath
.project
.settings/
.pydevproject
